.container_pagination {
    margin-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    justify-content: space-between;
    align-items: center;

    button {
        background: #e7eeff;
        border-radius: 8px;
        padding: 5px 15px;
        border: 0;
        font-family: "GeneralSans", sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    span {
        font-weight: 600;
        font-family: "GeneralSans", sans-serif;
        font-size: 25px;
    }

    span,
    button {
        color: #303030;
    }
}