.containerSorter {
    display: flex;

    justify-content: space-evenly;
    gap: 10px;

    .container_search_input {
        width: 30%;

        .search-input {
            position: relative;
            height: 50px;
            width: 100%;

            input {
                width: 100%;
                height: 100%;
                padding: 10px;
                padding-left: 2rem;
                background: linear-gradient(0deg,
                        rgba(255, 255, 255, 0.2),
                        rgba(255, 255, 255, 0.2)),
                    #e7eeff;
                border: 2px solid rgba(28, 28, 33, 0.1);
                border-radius: 4px;

                &::placeholder {
                    color: #6032c7;
                }
            }

            svg {
                position: absolute;
                left: 0.5rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .container_buttons_and_toggle {
        width: 70%;
        // overflow: hidden;

        .toggle_sorter {
            display: none;

            svg {
                width: 40px;
                height: 40px;
            }
        }

        .buttons {
            display: flex;
            justify-content: end;
            gap: 20px;
            // width: 70%;

            select {
                width: 110px;
                border: none;
                text-align: center;
                color: #6032c7;
                padding: 5px 10px;
                font-size: 15px;
                font-family: "GeneralSans", sans-serif;
                font-weight: 600;
                // background-color: red;
            }

            .button_filter {
                padding: 8px 40px;
                border: none;
                gap: 10px;
                color: white;
                background: #003399;
                border-radius: 10px;
                font-family: "GeneralSans", sans-serif;
                font-weight: 600;
            }

            .button_cancel {
                display: none;
                padding: 8px 40px;
                border: none;
                gap: 10px;
                color: black;
                background: #f3f3f3;
                border-radius: 10px;
                font-family: "GeneralSans", sans-serif;
                font-weight: 600;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {

    .containerSorter {
        .container_search_input {
            width: 90%;
        }

        .container_buttons_and_toggle {
            position: relative;
            width: 10%;

            .toggle_sorter {
                display: flex;
                justify-content: end;

                svg {
                    display: block;
                }
            }

            .container_buttons {
                display: none;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 300px;
                background-color: #564848;
                position: absolute;
                left: -265px;
                top: 50px;
                transition: all 0.5s ease-in-out;
                z-index: 1;
                // transform: translateX(-25%);

                select,
                button {
                    width: 80%;
                }

                .button_cancel {
                    display: block;
                }
            }

            .container_buttons.active {
                display: block;

            }


        }
    }
}