.container_wave {
    position: relative;
    overflow: hidden;
    bottom: -4px;

    height: 100px;

    .container_image_wave {
        height: 122px;
        position: relative;

        img {
            position: absolute;
        }

        @media only screen and (min-width: 800px) {
            height: 293px;
        }

        @media only screen and (min-width: 1000px) {
            height: 512px;
        }
    }
}