<!doctype html>
<html lang="es"> 
<head>
	<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

	<title>Ax</title>
</head>
<body>


	<div id="root"></div>

	<!--  Cargo mi componente UbicacionPuntero -->
	<%= javascript_pack_tag 'AX_NFT_GLOBAL' %>
	
</body>
</html>