.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
.form input,textarea{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    background: rgb(82,80,83);
    background: linear-gradient(80deg, rgba(82,80,83,0.2740283613445378) 0%, rgba(82,80,83,0.3412552521008403) 100%);
    border: 0;
    outline: none;
    border-bottom: 2px goldenrod;
}
.form input::placeholder,textarea::placeholder{
    color: white;
}
.form button{
    margin: 10px;
    background: rgb(82,80,83);
    background: linear-gradient(80deg, rgba(82,80,83,0.2740283613445378) 0%, rgba(82,80,83,0.3412552521008403) 100%);
    width: 100px;
    height: 50px;
    padding: 5px;
    color: white;
    border-radius: 3px;
}
.form button:hover{
    -webkit-box-shadow: 0px 0px 25px -3px rgba(32,32,51,1);
    -moz-box-shadow: 0px 0px 25px -3px rgba(32,32,51,1);
    box-shadow: 0px 0px 25px -3px rgba(32,32,51,1);
}
.create{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
  display: flex;
    align-items: center;
    justify-content: center;
  font-style: italic;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
 
}
.background-create{
    margin: auto;

    width: 90%;
    height: 100vh;
    background-image: url("../img/soccer.jpg");
    background-size:100%;
    z-index: 1;
}
.text-style{
    font-family: 'Montserrat', serif;
    font-weight: bold;
    color: white;
}
.previewNFT{
    margin-left: 20px;
}