.formProfile{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "n1 n1"
    "n2 n3"
    "n4 n5";
    gap:20px
}
.itemProfile:nth-child(1){
grid-area: n1;
}
.itemProfile:nth-child(2){
    grid-area: n2;

}
.itemProfile:nth-child(3){
    grid-area: n3;

}
.itemProfile:nth-child(4){
    grid-area: n4;

}
.itemProfile:nth-child(5){
    grid-area: n5;
}

@media screen and (max-width: 768px) {
    
    .formProfile{
        width: 100%;
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "n1"
        "n2"
        "n3"
        "n4"
        "n5";
    }
}