.containerWave {
  width: 100%;
  /* height: 200px; */
  overflow: hidden;
  height: auto;
  background-color: #001b4b;
  /* background-color: aqua; */
  /* position: relative; */
}
.containerWave svg {
  /* position: absolute; */
  min-width: 1000px;
  width: 100%;
  /* height: 100px; */
  bottom: -1px;
}
