.containerNftInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  padding: 10px;
}

.tableNftInfo {
  width: 100%;
  margin-bottom: 20px;
}

.tableNftRow {
  display: flex;
  justify-content: space-between;
}

.tableNftRow.attack {
  background: linear-gradient(
    93.51deg,
    rgba(96, 50, 199, 0.6) 2.84%,
    rgba(173, 196, 227, 0.48) 99.18%
  );
  border-radius: 10px;
}

.tableNftRow.strength {
  background: linear-gradient(
    93.51deg,
    rgba(96, 50, 199, 0.6) 2.84%,
    rgba(173, 196, 227, 0.48) 99.18%
  );
  border-radius: 10px;
}

.tableNftHeader {
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.tableNftCell {
  width: 100%;
  padding: 10px;
}

.contentNftInfo {
  display: grid;
  margin-top: 80px;
  word-break: break-all;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 300px;
  gap: 30px;
  width: 90%;
  grid-auto-flow: row;
  grid-template-areas:
    "image_nft image_nft name_sale name_sale"
    "image_nft image_nft nft_info nft_info"
    "create_nft create_nft offers offers"
    "create_nft create_nft offers offers";
}
.gridItem {
  background: linear-gradient(
    169.44deg,
    rgba(58, 129, 191, 0.08) 1.85%,
    rgba(65, 48, 90, 0.08) 98.72%
  );
  box-shadow: 0px 8px 84px rgba(0, 0, 0, 0.2);

  border-radius: 20px;
  color: white;
  padding: 20px;
}

.nameSale {
  grid-area: name_sale;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
}

.nftInfo {
  grid-area: nft_info;
}

.imageNft {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  grid-area: image_nft;
}

.imageNft img {
  position: absolute;
}

.createNft {
  grid-area: create_nft;
}

.offers {
  grid-area: offers;
}

@media only screen and (max-width: 1000px) {
  .contentNftInfo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image_nft image_nft"
      "image_nft image_nft"
      "name_sale nft_info"
      "create_nft create_nft "
      "offers offers ";
  }

  .contentNftInfo {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .contentNftInfo {
    grid-template-columns: 1fr;
    grid-template-rows: 600px 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image_nft"
      "name_sale"
      "nft_info"
      "create_nft"
      "offers";
  }

  .imageNft {
    overflow: hidden;
  }

  .imageNft img {
    width: 100%;
  }
}
