.navbar {
  background-color: #00091a;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navbar__item {
  margin-left: 1rem;
}

.navbar__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.navbar__link:active{
  color: blue;
  border-bottom: 1px solid black;
}

.Button_play_sportex_navbar{
  display: none;
}
.navbar__toggle {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: none; /* Oculta el botón en dispositivos de escritorio */
}

.navbar__icon {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar__icon:before {
  top: -8px;
}

.navbar__icon:after {
  top: 8px;
}
@media only screen and (max-width: 768px) {
  .Button_play_sportex_navbar{
    display: block;
  }
  .navbar__menu {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    justify-content: start;
    z-index: 999;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;

  }
  .navbar__menu button{
    background-color: #86FC73;
    border-radius: 10px;
    border: none;
    padding: 5px 40px;
    font-family: 'GeneralSans',sans-serif;
    font-weight: 600;
  }


  .navbar__menu.active {
    transform: translateX(0%);
  }

  .navbar__toggle {
    display: block; /* Muestra el botón en dispositivos móviles */
  }

  .navbar__link{
    color: #4C4B58;
    font-family: 'GeneralSans',sans-serif;
    font-weight: 600;
  }

  .navbar__list {
    flex-direction: column;
    width: 50%;
    /* align-items: center;
    justify-content: center; */
  }

  .navbar__item {
    margin: 1rem 0;
  }

  .navbar__toggle:before,
  .navbar__toggle:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
  }

  .navbar__toggle:before {
    top: 0;
  }

  .navbar__toggle:after {
    bottom: 0;
  }

  .navbar__toggle.active:before {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar__toggle.active:after {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.TEST {
  color: red;
}
