.contentIndex {
  width: 80%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.containerIndex {
  padding: 40px;
  width: 100%;
  background-color: #f7f9ff;
  height: 100%;
}
