.content_my_assets {
    width: 80%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container_my_assets {
    width: 100%;
    background-color: #f7f9ff;
    height: 1930px;
}