.content_my_assets {
    width: 80%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container_my_assets {
    width: 100%;
    background-color: #f7f9ff;
    height: 100%;
    padding: 50px;
}

@media only screen and (max-width: 1000px) {
    .container_my_assets {
        padding: 50px 0;
    }
}
