.container_nft_info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    padding: 10px;

    // background-color: red;
}

.table_nft_info {
    // display: table;
    width: 100%;
    // border-collapse: collapse;
    margin-bottom: 20px;
}

.table_nft_row {
    display: flex;
    justify-content: space-between;
}

.table_nft_row.attack {
    background: linear-gradient(93.51deg, rgba(96, 50, 199, 0.6) 2.84%, rgba(173, 196, 227, 0.48) 99.18%);
    border-radius: 10px;

}

.table_nft_row.strength {
    background: linear-gradient(93.51deg, rgba(96, 50, 199, 0.6) 2.84%, rgba(173, 196, 227, 0.48) 99.18%);
    border-radius: 10px;
}

.table_nft_header {
    // display: flex;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    // text-align: start;
    // border-bottom: 1px solid #ccc;
}

.table_nft_cell {
    // display: flex;
    width: 100%;
    padding: 10px;
    // text-align: start;
    // border-bottom: 1px solid #ccc;
}

.button_buy_nft_info {
    button {
        width: 100%;
        background-color: #86FC73;
        border: none;
        color: black;
        padding: 10px;
        border-radius: 10px;
    }
}

.content_nft_info {
    display: grid;
    margin-top: 80px;
    word-break: break-all;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 300px;
    gap: 30px;
    width: 90%;
    grid-auto-flow: row;
    grid-template-areas:
        "image_nft image_nft name_sale name_sale"
        "image_nft image_nft nft_info nft_info"
        "create_nft create_nft offers offers"
        "create_nft create_nft offers offers";

    .grid_item {
        background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);
        box-shadow: 0px 8px 84px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(36px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 20px;
        color: white;
        padding: 20px;
    }
}

.name_sale {
    grid-area: name_sale;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}

.nft_info {
    grid-area: nft_info;

}

.image_nft {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: image_nft;
}

.create_nft {
    grid-area: create_nft;
}

.offers {
    grid-area: offers;
}

@media only screen and (max-width: 1000px) {
    .content_nft_info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "image_nft image_nft"
            "image_nft image_nft"
            "name_sale nft_info"
            "create_nft create_nft "
            "offers offers ";

    }

    .content_nft_info {

        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .content_nft_info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "image_nft"
            "image_nft"
            "name_sale"
            "nft_info"
            "create_nft"
            "offers";

    }



    .image_nft {
        overflow: hidden;
    }
}