.formCreteItem {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 20px;
}

.containerCreateItem {
  padding: 10px;
  background-color: #e3f0ff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 50%;
  border-radius: 3px;
}

@media only screen and (max-width: 800px) {
  .containerCreateItem {
    width: 90%;
  }
}