.containerCard {
  min-height: 400px;
  height: 100%;
  border: 4px solid #6032c7;
  padding: 12px;
  margin: 0 auto;
  border-radius: 28px;
  width: 280px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.containerCard .unitDolar {
  font-size: 15px;
  font-family: 'GeneralSans', sans-serif;
  font-weight: 600;
  border-bottom: 1px solid red;
}

.containerCard .unitPLS {
  font-size: 10px;
}

.containerCard .containerImageCard {
  border-radius: 20px;
  overflow: hidden;
  background-color: #99bcff;
  /* position: relative; */
  width: 100%;
  /* height: 100%; */
  display: grid;
  place-content: center;
}

.containerCard .containerImageCard img {
  max-width: 100%;
  max-height: 100%;
  min-width: 350px;
  min-height: 350px;
  object-fit: cover;
}

.containerCard .containerNameCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  word-break: brek-word;
  gap: 10px;
  word-spacing: 5px;
}

.containerCard .containerNameCard h1 {
  font-size: 20px;
}

.containerCard .containerNameCard p,
.containerCard .containerNameCard h1 {
  margin: 0;
}

.containerCard hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.containerCard .containerPriceCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerCard .containerPriceCard p {
  margin: 0;
}

.containerCard .buttonsNftItem {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  width: 100%;
}

.approveNft {
  background-color: #003399;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  color: white;
  width: 100%;
}

.changePriceNft,
.approveNft,
.resell,
.transfer {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 100%;
  background-color: #003399;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.changePriceNft:hover,
.resell:hover,
.transfer:hover,
.approveNft:hover {
  background-color: #002a7e;
}
