.nftCard {
  border: 4px solid #6032c7;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  min-height: 400px; /* Establecer una altura mínima */
}

.imageContainer {
  width: 100%;
  height: 300px; /* Altura uniforme para todas las tarjetas */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99bcff;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 20px;
}

.image {
  width: auto;
  height: 100%;
  object-fit: contain; /* Cambio a object-fit: contain; */
  border-radius: 10px; /* Borde redondeado para la imagen */
}

/* NFTCard.module.css */

/* ... (otros estilos) */

.cardTitle {
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2rem; /* Ajusta el tamaño de fuente según tus necesidades */
  max-width: 100%; /* Evita que el texto empuje la tarjeta hacia los lados */
  text-align: center;
}

/* ... (otros estilos) */

.nftCard h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.nftCard p {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}

.nftCard p span:first-child {
  /* flex: 1;  */
  /* text-align: left; */
}
.nftCard p span:nth-child(2) {
  /* flex: 1; */
  /* text-align: right; */
  font-weight: bold;
  border-bottom: 2px solid red;
}

button {
  margin-top: 10px;
  background-color: #003399;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
.fullWidthButton {
  width: 100%; /* Ocupar el 100% del espacio disponible */
}

.ownerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ocupar el 100% del espacio disponible */
}

.ownerButtons button {
  width: 100%; /* Ocupar el 100% del espacio disponible */
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.ownerButtons button:hover {
  background-color: #0056b3;
}
