.container {
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.container button {
  background: #e7eeff;
  border-radius: 8px;
  padding: 5px 15px;
  border: 0;
  font-family: "GeneralSans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #303030;
}

.container span {
  font-weight: 600;
  font-family: "GeneralSans", sans-serif;
  font-size: 25px;
  color: #303030;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 40px 0;
  }

  .container button {
    padding: 5px 10px;
  }

  .container span {
    font-size: 15px;
  }
}
