.containerSorter {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.containerSorter .containerSearchInput {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.containerSorter .containerSearchInput label[for="seller"] {
  margin-top: 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  font-family: "GeneralSans", sans-serif;
  font-weight: 600;
}

.containerSorter .containerSearchInput input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.containerSorter .containerSearchInput .searchInput {
  position: relative;
  height: 50px;
  width: 100%;
}

.containerSorter .containerSearchInput .searchInput input {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 2rem;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #e7eeff;
  border: 2px solid rgba(28, 28, 33, 0.1);
  border-radius: 4px;
}

.containerSorter .containerSearchInput .searchInput input::placeholder {
  color: #6032c7;
}

.containerSorter .containerSearchInput .searchInput svg {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.containerSorter .containerButtonsAndToggle {
  width: 70%;
}

.containerSorter .containerButtonsAndToggle .toggleSorter svg {
  width: 50px;
  height: 50px;
}

.containerSorter .containerButtonsAndToggle .buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.containerSorter .containerButtonsAndToggle .buttons select {
  width: 110px;
  border: none;
  text-align: center;
  color: #6032c7;
  padding: 5px 10px;
  font-size: 15px;
  font-family: "GeneralSans", sans-serif;
  font-weight: 600;
}

.containerSorter .containerButtonsAndToggle .buttons .buttonFilter {
  padding: 8px 40px;
  border: none;
  gap: 10px;
  color: white;
  background: #003399;
  border-radius: 10px;
  font-family: "GeneralSans", sans-serif;
  font-weight: 600;
}

.containerSorter .containerButtonsAndToggle .buttons .buttonCancel {
  display: none;
  padding: 8px 40px;
  border: none;
  gap: 10px;
  color: black;
  background: #f3f3f3;
  border-radius: 10px;
  font-family: "GeneralSans", sans-serif;
  font-weight: 600;
}

.toggleSorter {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .containerSorter .containerSearchInput {
    width: 90%;
  }

  .containerSorter .containerButtonsAndToggle {
    position: relative;
    width: 10%;
  }

  .containerSorter .containerButtonsAndToggle .toggleSorter {
    display: flex;
    justify-content: end;
  }

  .containerSorter .containerButtonsAndToggle .toggleSorter {
    display: block;
  }

  .containerSorter .containerButtonsAndToggle .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #564848;
    position: absolute;
    left: -265px;
    top: 60px;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .containerSorter .containerButtonsAndToggle .buttons select,
  .containerSorter .containerButtonsAndToggle .buttons button {
    width: 80%;
  }

  .containerSorter .containerButtonsAndToggle .buttons .buttonCancel {
    display: block;
  }

  .containerSorter .containerButtonsAndToggle .containerButtons {
    display: none;
  }

  .containerSorter .containerButtonsAndToggle .containerButtons.active {
    display: block;
  }
}
