@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.background_login {
  background-color: #00091a;
  height: 120vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./fonts/generalSans/GeneralSans-Medium.woff2") format("woff2"),
    url("./fonts/generalSans/GeneralSans-Medium.woff") format("woff"),
    url("./fonts/generalSans/GeneralSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./fonts/generalSans/GeneralSans-Semibold.woff2") format("woff2"),
    url("./fonts/generalSans/GeneralSans-Semibold.woff") format("woff"),
    url("./fonts/generalSans/GeneralSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Grifter";
  src: url("./fonts/grifterBold/grifterbold.otf") format("truetype");
}


.flash-message-content {
  display: none;
}

