@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.background_login {
  background-color: #00091a;
  height: 120vh;
  overflow: hidden;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./fonts/generalSans/GeneralSans-Medium.woff2") format("woff2"),
    url("./fonts/generalSans/GeneralSans-Medium.woff") format("woff"),
    url("./fonts/generalSans/GeneralSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("./fonts/generalSans/GeneralSans-Semibold.woff2") format("woff2"),
    url("./fonts/generalSans/GeneralSans-Semibold.woff") format("woff"),
    url("./fonts/generalSans/GeneralSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Grifter";
  src: url("./fonts/grifterBold/grifterbold.otf") format("truetype");
}
