.linkMetamask a {
  color: brown;
}

.container_sign_up {
  display: flex;
  padding: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container_content_sign_up {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 100%;
  background-color: #ffff;
  padding: 70px 40px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

.form_sign_up {
  /* gap: 60px; */
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_sign_up button {
  margin-top: 20px;
  padding: 6px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  font-family: "GeneralSans", sans-serif;
  font-weight: 600;
}

.form_sign_up button:hover {
  background-color: #a4a1af;
  border: 1px solid #727084;
}

.form_sign_up input {
  border: 1px solid #d1d5db;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px;
}

.form_sign_up p:first-of-type {
  color: black;
  font-family: "GeneralSans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
}

form {
  /* background-color: #d1d5db; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form_sign_up p:nth-of-type(2) {
  line-height: 18px;
  color: #727084;
  font-family: "GeneralSans", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.other_options_sign_up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other_options_sign_up a {
  text-decoration: none;
}


@media only screen and (max-width: 1000px) {
  .container_sign_up{
    width: 100%;
  }
  .form_sign_up p:first-of-type {
    font-size: 15px;
  }
  .container_content_sign_up {

    width: 350px;


  }
  .other_options_sign_up{
    font-size: 15px;
  }

}
